.bg1{background-color: #87adb3;}
.bg2{background-color: #68b9c4;}
.bg3{background-color: #ffffff;}
.bg4{background-color: #13555e;}
.bg5{background-color: #0f3b41;}
.bg6{background-color: #091c1f;}
.bg7{background-color: #ffe551;}


#wrap{height: }
#header{height: 119px;}
#banner{height: 252.5px;}
#content{height: }
#footer{height: 280px;}

#header_top{height: 46px;}
#header_nav{height: 72px;}
#content1{height: 190px;}
#content2{height: 220px;}
#content3{height: 320px;}
#content4{height: 320px;}
#content5{height: 370px;}
#content6{height: 261px;}
#breadcrumbs{height: 39.5px;}

#c3-1{
  height: 320px;
  width: 350px;
  border-radius: 50px 20px 20px 20px;
}

#c3-2{
  height: 320px;
  width: 350px;
  margin-left: 65px;
  border-radius: 50px 20px 20px 20px;
}

#c3-3{
  height: 320px;
  width: 350px;
  border-radius: 50px 20px 20px 20px;
}

#c4-1{
  height: 320PX;
  width: 765PX;
  border-radius: 50px 20px 20px 20px;
}
#c4-2{
  height: 320PX;
  width: 350PX;
  border-radius: 50px 20px 20px 20px;
}

#c5-1{
  height:370px;
  width: 350px;
  border-radius: 20px 20px 20px 55px;
  

}
#c5-2{
  height:170px;
  width: 350px;
  margin-bottom: 29px;
  border-radius: 20px 55px 20px 20px;
  

}

#c5-3{
  height:170px;
  width: 350px;
  border-radius: 55px 20px 20px 20px;

}
#c5-4{
  height:370px;
  width: 350px;
  border-radius: 20px 20px 55px 20px;

}

#content5 .info{
margin-left: 65px;}



#footer_info{height: 280px;}

.container{max-width: 1180px;
height: inherit;
margin: auto;}

.container{max-width: 1180px;
height: inherit;
margin: auto;}


#wrap::before{
  background: url(/project1/img/bg_layout_l.png) no-repeat;
  width: 170px;
  height: 400px;
  z-index: 20;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
#wrap::after{
  background: url(/project1/img/bg_layout_r.png) no-repeat;
  width: 170px;
  height: 390px;
  z-index: 20;
  content: '';
  position: absolute;
  top: 0;
  right:0;
}


