*{margin:0; padding:0; border:0; }
a{text-decoration: none;}
.cf::after{content:''; display: block; clear: both;}
.fl{float:left;}
.fr{float:right;}
li{list-style: none;}

html{
  overflow-x: hidden;
  overflow-y: scroll;
}